@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #111111;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Optima";
  src: url("/fonts/OptimaNovaLT-Black.ttf");
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-neutral-700;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-500;
  }
}

#boxCanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

#tileCanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

#nameCanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

#textCanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  letter-spacing: 0.5px;
}